<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csi.sbs.investment.business.dao.BranchDataSearchDao" >
  <resultMap id="BaseResultMap" type="com.csi.sbs.investment.business.entity.BranchDataSearchEntity" >
    <result column="Tablename" property="tablename" jdbcType="VARCHAR" />
    <result column="BranchCode" property="branchcode" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="findMany" resultType="Map" parameterType="java.lang.String">
    select * from ${tablename} where BranchCode = '${branchcode}'
  </select>
  
  
  
</mapper>